<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="/style/admin.css" rel="stylesheet">
</head>
<body>
    <form action="/admin" method="POST">
        <label>Név</label><input name="adminName" type="text">
        <label>Jelszó</label><input name="adminPassword" type="password">
        <button type="submit">Bejelentkezés</button>
    </form>
</body>
</html>