body {
    color: rgb(69, 216, 69);
    background-color: rgba(80,80,100,0.8);
    padding: 0.5rem;
}

h1 {
    text-align: center;
}

p {
    font-size: 1rem;
    margin-left: 1rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

input[type="radio"]{
    float:left;
    margin-right: 0.5rem;
}

a {
    display: inline-block;
    text-decoration: none;
    color: rgb(69, 216, 69);
    background-color: rgba(80,80,100,1);
    padding: 0.5rem;
}

a:hover {
    color:rgb(200, 218, 11);
}

button {
    color: rgb(69, 216, 69);
    background-color: rgba(80,80,100,1);
    padding: 0.5rem;
}

button:hover {
    color:rgb(200, 218, 11);
}

td, th {
    padding: 0.3rem;
    margin: 0.2rem;
    border: 1px solid;
}

table {
    border-collapse: collapse;
}