body {
    color: rgb(194, 228, 209);
    background-color: rgba(8, 8, 8, 0.8);
}

td, th {
    padding: 0.2rem;
    margin: 0.2rem;
    border: 1px solid; 
}

table {
    border-collapse: collapse;
}

button {
    padding: 0.5rem;
}