<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kapcsolat</title>
    <link rel="stylesheet" href="/style/contact.css">
</head>
<body>
    <h1>KEREK PALACSINTA</h1>
    <h3>Üveghegy</h3>
    <h4>Gyémánt Sétány 33.</h4>
    <h4>Telefon: +36 12 345 6789</h4>
    <h4>e-mail: kerekpalacsinta@operencia.mese</h4>
    <img src="/assets/hegy.png" alt="Map to the restaurant">
</body>
</html>