<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/index.css">
    <title>Palacsinta</title>
    <script src="/js/footer.js" async></script>
</head>

<body>
    <nav class="link">
        <a href="menu">Étlap</a>
        <a href="regist">Regisztráció</a>
        <a href="login">Bejelentkezés</a>
        <a href="contact" target="popup"
            onClick="window.open('contact', 'popup', 'left=50, top=50, width=500, height=500'); return false;">Kapcsolat</a>
    </nav>
    <div class="main-container">
        <h1>KEREK PALACSINTA</h1>
        <footer id="footer"></footer>
    </div>

</body>

</html>